@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
html{
  position:relative;
  min-height:100%;
}
body{
  margin-bottom:60px;
}
.wrap{
  padding-bottom: 60px;
}


