<div class="container py-5">

  <h2 class="mb-5">Iniciar Sesión</h2>
  <form class="mx-auto" style="max-width: 25rem;" #form="ngForm" (ngSubmit)="authenticateUser(form)">
    <!-- Campos de entrada -->
    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="creds.email">
    </div>
    <div class="mb-3">
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="creds.password">
    </div>
<div class="d-grid">
 <!-- Botón de envío -->
 <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</div>

  </form>
</div>


